<!-- /templates/page.faq.liquid -->

{% section 'page-images' %}

<div class="page__template wrapper pt2 pb1">
  <div class="grid">
    <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">
      <h1 class="text-center h3 page__title" data-page-default-title>{{ page.title }}</h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% section 'page-faq.liquid' %}