{% include 'aaa_mem_helper' with 'page' %}<!-- /templates/page.liquid -->

{% section 'page-images' %}

<div class="page__template wrapper pt2 pb4">
  <div class="grid">
    <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
