<!-- /templates/page.liquid -->
<div class="page__template wrapper pt2 pb4">
  <div class="grid">
    <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">
     
      <div class="rte bootstrapiso">
        
        
        <div class="container">
          <div class="row">
            <div class="col-md-6">
            <img src="{{ 'main-slider-new.jpg' | asset_img_url: 'master' }}" class="img-fluid">
            </div>
            <div class="col-md-6 text-center">
              <h6>A FUSION OF TWO LOVES - BEAUTIFUL+EARTH</h6>
<p>
  We have always been enchanted by the romance and glamour of luxury items and experiences. We’re drawn to excellence, craftsmanship, and the sensory allure of deluxe products. However, we are disenchanted by the destructive effects of fast consumerism and “throwaway” culture. Ambitious and with years of experience in the luxury beauty industry, we set out to create a beautiful solution.
</p>
<p>
  We believe that luxury and environmental responsibility are not mutually exclusive. We believe that our planet is a precious resource to be cherished and respected, and our collective shopping habits are a big part of this. These two core passions motivated us to search the world for the best in natural, ethical, and sustainable products that do not compromise on luxury appeal.
              </p>
<p>
  We loved what we discovered and wanted to share it with the world. And thus, Bella & Gaia was born.
              </p>s
            </div>
		  </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
